In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [20]:
df_cartao = pd.read_csv('..\dados\cartao_corporativo_2003-2022.csv', 
                        encoding='latin-1', sep=';')
df_cartao.head()

,DATA PGTO,CPF SERVIDOR,CPF/CNPJ FORNECEDOR,NOME FORNECEDOR,VALOR,TIPO,SUBELEMENTO DE DESPESA,CDIC
0,02/01/2003,***.010.008-**,31349202000177.00000,JW TRANSPORTADORA TURÖSTICA,"R$ 1.696,90",D,LOCACAO DE MEIOS DE TRANSPORTE,00200.220539/2003-63.R.08.18/12/2002.31/12/2014.N
1,02/01/2003,***.010.008-**,31349202000177.00000,JW TRANSPORTADORA TURÖSTICA,"R$ 1.336,60",D,LOCACAO DE MEIOS DE TRANSPORTE,00200.220539/2003-63.R.08.18/12/2002.31/12/2014.N
2,02/01/2003,***.868.251-**,31349202000177.00000,JW TRANSPORTADORA TURÖSTICA,"R$ 1.396,43",D,LOCACAO DE MEIOS DE TRANSPORTE,00200.600539/2003-63.R.08.18/12/2002.31/12/2014.N
3,03/01/2003,***.004.131-**,592717000170.00000,FLORES ALVORADA,"R$ 8.585,00",C,OUTROS SERVIOS DE TERCEIROS-PESSOA JURÖDICA,00200.800212/2003-91.R.08.07/12/2002.31/12/2014.N
4,03/01/2003,***.004.131-**,839308000125.00000,CRISTAL LIMPEZA - COMRCIO DE MATERIAIS PARA L...,"R$ 251,50",C,MATERIAL DE LIMPEZA E PROD. DE HIGIENIZAÇO,00200.800212/2003-91.R.08.07/12/2002.31/12/2014.N

In [21]:
df_cartao.tail()

,DATA PGTO,CPF SERVIDOR,CPF/CNPJ FORNECEDOR,NOME FORNECEDOR,VALOR,TIPO,SUBELEMENTO DE DESPESA,CDIC
113337,04/12/2022,***.136.591-**,47508411094975.00000,COMPANHIA BRASILEIRA DE DISTRIBUIÇO,"518,07",C,GENEROS DE ALIMENTAÇO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N
113338,04/12/2022,***.136.591-**,12550441000146.00000,RESTAURANTE SOHO,"330,52",C,FORNECIMENTO DE ALIMENTAÇO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N
113339,04/12/2022,***.136.591-**,3696869000100.00000,BIG TRANS COMERCIAL DE ALIMENTOS LTDA,"54,66",C,GENEROS DE ALIMENTAÇO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N
113340,Fonte: SUPRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113341,At 19/12/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Removendo as duas últimas linhas do DataFrame

df_cartao.drop(labels=[df_cartao.shape[0]-1, df_cartao.shape[0]-2], axis=0, inplace=True)

In [23]:
print(f"Quantidade de linhas: {df_cartao.shape[0]}")
print(f"Quantidade de colunas: {df_cartao.shape[1]}")

Quantidade de linhas: 113340
Quantidade de colunas: 8

In [24]:
print(f"Colunas: {df_cartao.columns}")

Colunas: Index(['DATA PGTO', 'CPF SERVIDOR', 'CPF/CNPJ FORNECEDOR', 'NOME FORNECEDOR',
       'VALOR', 'TIPO', 'SUBELEMENTO DE DESPESA', 'CDIC'],
      dtype='object')

In [25]:
df_cartao.dtypes

DATA PGTO                  object
CPF SERVIDOR               object
CPF/CNPJ FORNECEDOR       float64
NOME FORNECEDOR            object
VALOR                      object
TIPO                       object
SUBELEMENTO DE DESPESA     object
CDIC                       object
dtype: object

In [26]:
# Convertentendo a coluna DATA PGTO para datetime

df_cartao['DATA PGTO'] = pd.to_datetime(df_cartao['DATA PGTO'], dayfirst=True)
df_cartao.dtypes

DATA PGTO                 datetime64[ns]
CPF SERVIDOR                      object
CPF/CNPJ FORNECEDOR              float64
NOME FORNECEDOR                   object
VALOR                             object
TIPO                              object
SUBELEMENTO DE DESPESA            object
CDIC                              object
dtype: object

In [27]:
df_cartao.head()

,DATA PGTO,CPF SERVIDOR,CPF/CNPJ FORNECEDOR,NOME FORNECEDOR,VALOR,TIPO,SUBELEMENTO DE DESPESA,CDIC
0,2003-01-02,***.010.008-**,31349202000177.00000,JW TRANSPORTADORA TURÖSTICA,"R$ 1.696,90",D,LOCACAO DE MEIOS DE TRANSPORTE,00200.220539/2003-63.R.08.18/12/2002.31/12/2014.N
1,2003-01-02,***.010.008-**,31349202000177.00000,JW TRANSPORTADORA TURÖSTICA,"R$ 1.336,60",D,LOCACAO DE MEIOS DE TRANSPORTE,00200.220539/2003-63.R.08.18/12/2002.31/12/2014.N
2,2003-01-02,***.868.251-**,31349202000177.00000,JW TRANSPORTADORA TURÖSTICA,"R$ 1.396,43",D,LOCACAO DE MEIOS DE TRANSPORTE,00200.600539/2003-63.R.08.18/12/2002.31/12/2014.N
3,2003-01-03,***.004.131-**,592717000170.00000,FLORES ALVORADA,"R$ 8.585,00",C,OUTROS SERVIOS DE TERCEIROS-PESSOA JURÖDICA,00200.800212/2003-91.R.08.07/12/2002.31/12/2014.N
4,2003-01-03,***.004.131-**,839308000125.00000,CRISTAL LIMPEZA - COMRCIO DE MATERIAIS PARA L...,"R$ 251,50",C,MATERIAL DE LIMPEZA E PROD. DE HIGIENIZAÇO,00200.800212/2003-91.R.08.07/12/2002.31/12/2014.N

In [28]:
df_cartao['ano'] = df_cartao['DATA PGTO'].dt.year
presidente_map = {2003: 'Lula', 2004: 'Lula', 2005: 'Lula', 2006: 'Lula', 2007: 'Lula', 2008: 'Lula', 2009: 'Lula', 2010: 'Lula', 2011: 'Lula', 2012: 'Lula', 2013: 'Dilma', 2014: 'Dilma', 2015: 'Dilma', 2016: 'Dilma', 2017: 'Temer', 2018: 'Temer', 2019: 'Bolsonaro', 2020: 'Bolsonaro', 2021: 'Bolsonaro', 2022: 'Bolsonaro'}
df_cartao['presidente'] = df_cartao['ano'].map(presidente_map)

In [29]:
df_cartao[df_cartao['presidente'] == 'Bolsonaro']['VALOR']

100001     303,78
100002       63,7
100003    3749,99
100004      42,02
100005     614,88
           ...
113335      179,5
113336      54,95
113337     518,07
113338     330,52
113339      54,66
Name: VALOR, Length: 13339, dtype: object

In [30]:
df_cartao[df_cartao['VALOR'].str.contains('-')]['VALOR']

22089          R$ -
48784        -R$ 8,33
48785        -R$ 4,38
48786        -R$ 2,69
48787       -R$ 11,98
48788       -R$ 14,51
60082      -R$ 124,64
61205       -R$ 89,49
61206      -R$ 219,53
61207      -R$ 627,18
63761       -R$ 24,14
70149      -R$ 676,74
70274    -R$ 1.380,36
70275      -R$ 693,18
70276      -R$ 516,15
75467        -R$ 6,43
Name: VALOR, dtype: object

In [31]:
df_cartao = df_cartao[~df_cartao['VALOR'].str.contains('-')]

In [67]:
texto_gasto = f"R$ {df_cartao[df_cartao['presidente'] == 'Bolsonaro']['VALOR'].sum():_.2f}"
texto_gasto = texto_gasto.replace('.', '.').replace('_', '.')
print(f"Gastos totais de bolsonaro: {texto_gasto}")

Gastos totais de bolsonaro: R$ 922.871.354.00

In [73]:
'R$ 1.696,90'.replace('.', '').replace(',', '.')

'R$ 1696.90'

In [49]:
# Converter a coluna VALOR para float

df_cartao['VALOR'] = df_cartao['VALOR']\
    .str.replace('R\$', '', regex=True)\
    .str.replace('.', '', regex=True)\
    .str.replace(',', '.', regex=True).astype(float)

In [58]:
df_cartao[df_cartao['presidente'] == 'Bolsonaro']['VALOR'].sum()

922871354.0

In [45]:
df_cartao.reset_index(drop=True, inplace=True)

In [72]:
df_cartao

,DATA PGTO,CPF SERVIDOR,CPF/CNPJ FORNECEDOR,NOME FORNECEDOR,VALOR,TIPO,SUBELEMENTO DE DESPESA,CDIC,ano,presidente
0,2003-01-02,***.010.008-**,31349202000177.00000,JW TRANSPORTADORA TURÖSTICA,169690.00000,D,LOCACAO DE MEIOS DE TRANSPORTE,00200.220539/2003-63.R.08.18/12/2002.31/12/2014.N,2003,Lula
1,2003-01-02,***.010.008-**,31349202000177.00000,JW TRANSPORTADORA TURÖSTICA,133660.00000,D,LOCACAO DE MEIOS DE TRANSPORTE,00200.220539/2003-63.R.08.18/12/2002.31/12/2014.N,2003,Lula
2,2003-01-02,***.868.251-**,31349202000177.00000,JW TRANSPORTADORA TURÖSTICA,139643.00000,D,LOCACAO DE MEIOS DE TRANSPORTE,00200.600539/2003-63.R.08.18/12/2002.31/12/2014.N,2003,Lula
3,2003-01-03,***.004.131-**,592717000170.00000,FLORES ALVORADA,858500.00000,C,OUTROS SERVIOS DE TERCEIROS-PESSOA JURÖDICA,00200.800212/2003-91.R.08.07/12/2002.31/12/2014.N,2003,Lula
4,2003-01-03,***.004.131-**,839308000125.00000,CRISTAL LIMPEZA - COMRCIO DE MATERIAIS PARA L...,25150.00000,C,MATERIAL DE LIMPEZA E PROD. DE HIGIENIZAÇO,00200.800212/2003-91.R.08.07/12/2002.31/12/2014.N,2003,Lula
...,...,...,...,...,...,...,...,...,...,...
113319,2022-12-03,***.136.591-**,17261661005728.00000,OUTBACK STEAKHOUSE RESTAURANTES BRASIL S/A,1795.00000,C,FORNECIMENTO DE ALIMENTAÇO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N,2022,Bolsonaro
113320,2022-12-03,***.136.591-**,39879944000116.00000,BIOMUNDO 105 NORTE COMERCIO DE ALIMENTOS,5495.00000,C,GENEROS DE ALIMENTAÇO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N,2022,Bolsonaro
113321,2022-12-04,***.136.591-**,47508411094975.00000,COMPANHIA BRASILEIRA DE DISTRIBUIÇO,51807.00000,C,GENEROS DE ALIMENTAÇO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N,2022,Bolsonaro
113322,2022-12-04,***.136.591-**,12550441000146.00000,RESTAURANTE SOHO,33052.00000,C,FORNECIMENTO DE ALIMENTAÇO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N,2022,Bolsonaro
113323,2022-12-04,***.136.591-**,3696869000100.00000,BIG TRANS COMERCIAL DE ALIMENTOS LTDA,5466.00000,C,GENEROS DE ALIMENTAÇO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N,2022,Bolsonaro

In [71]:
df_cartao[df_cartao['presidente'] == 'Bolsonaro']

,DATA PGTO,CPF SERVIDOR,CPF/CNPJ FORNECEDOR,NOME FORNECEDOR,VALOR,TIPO,SUBELEMENTO DE DESPESA,CDIC,ano,presidente
99985,2019-01-04,***.135.521-**,3696869000100.00000,BIG TRANS COMERCIAL DE ALIMENTOS LTDA,30378.00000,C,GENEROS DE ALIMENTAÇO,00140.000911/2018-70.R.08.01/01/2019/31/12/2018.N,2019,Bolsonaro
99986,2019-01-04,***.135.521-**,17871449001957.00000,SHOPPING DOS COSMTICOS,637.00000,C,MATERIAL DE LIMPEZA E PROD. DE HIGIENIZAÇO,00140.000911/2018-70.R.08.01/01/2019/31/12/2018.N,2019,Bolsonaro
99987,2019-01-04,***.135.521-**,12137325000108.00000,PEIXARIA GUARA LTDA,374999.00000,C,GENEROS DE ALIMENTAÇO,00140.000911/2018-70.R.08.01/01/2019/31/12/2018.N,2019,Bolsonaro
99988,2019-01-04,***.135.521-**,3696869000100.00000,BIG TRANS COMERCIAL DE ALIMENTOS LTDA,4202.00000,C,GENEROS DE ALIMENTAÇO,00140.000911/2018-70.R.08.01/01/2019/31/12/2018.N,2019,Bolsonaro
99989,2019-01-04,***.135.521-**,1610583000135.00000,DISTRIBUIDORA DE CARNE MORRO BRANCO LTDA - ME,61488.00000,C,GENEROS DE ALIMENTAÇO,00140.000911/2018-70.R.08.01/01/2019/31/12/2018.N,2019,Bolsonaro
...,...,...,...,...,...,...,...,...,...,...
113319,2022-12-03,***.136.591-**,17261661005728.00000,OUTBACK STEAKHOUSE RESTAURANTES BRASIL S/A,1795.00000,C,FORNECIMENTO DE ALIMENTAÇO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N,2022,Bolsonaro
113320,2022-12-03,***.136.591-**,39879944000116.00000,BIOMUNDO 105 NORTE COMERCIO DE ALIMENTOS,5495.00000,C,GENEROS DE ALIMENTAÇO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N,2022,Bolsonaro
113321,2022-12-04,***.136.591-**,47508411094975.00000,COMPANHIA BRASILEIRA DE DISTRIBUIÇO,51807.00000,C,GENEROS DE ALIMENTAÇO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N,2022,Bolsonaro
113322,2022-12-04,***.136.591-**,12550441000146.00000,RESTAURANTE SOHO,33052.00000,C,FORNECIMENTO DE ALIMENTAÇO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N,2022,Bolsonaro
113323,2022-12-04,***.136.591-**,3696869000100.00000,BIG TRANS COMERCIAL DE ALIMENTOS LTDA,5466.00000,C,GENEROS DE ALIMENTAÇO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N,2022,Bolsonaro